<div class="bg-light dark:bg-darkmode-light rounded p-8 text-center h-[40rem] flex flex-col items-center justify-start sm:p-8 p-4">
  {{ $image := .Params.image }} 
  {{ if $image }}
    {{ partial "image" (dict
      "Src" $image
      "Context" .Page
      "Alt" .Title
      "Class" "mx-auto mb-6 rounded object-cover w-[400px] h-[400px] sm:w-[400px] sm:h-[400px] w-[180px] h-[180px]"
      "size" "400x400"
    ) }}
  {{ end }}

  <h4 class="mb-3 text-lg sm:text-2xl">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h4>
  <p class="mb-4 line-clamp-3 text-base sm:text-lg">{{ .Summary | plainify }}</p>

  <ul class="social-icons mt-auto">
    {{ range .Params.social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
          <span class="sr-only">{{ .title }}</span>
          <i class="{{ .icon }}"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
