<div class="bg-light dark:bg-darkmode-light rounded p-8 text-center h-[40rem]">
  {{ $image := .Params.image }} 
  {{ if $image }}
    {{ partial "image" (dict
      "Src" $image
      "Context" .Page
      "Alt" .Title
      "Class" "mx-auto mb-6 rounded object-cover w-[400px] h-[400px]"
      "size" "400x400"
    ) }}
  {{ end }}

  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h4>
  <p class="mb-4">{{ .Summary | plainify }}</p>

  <ul class="social-icons">
    {{ range .Params.social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
          <span class="sr-only">{{ .title }}</span>
          <i class="{{ .icon }}"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
