<div class="bg-light dark:bg-darkmode-light rounded p-8 text-center h-[38rem] flex flex-col items-center justify-start sm:p-8 p-4 cursor-pointer">
  <a href="{{ .RelPermalink }}">

    {{ $image := .Params.image }} 
    {{ if $image }}
      {{ partial "image" (dict
        "Src" $image
        "Context" .Page
        "Alt" .Title
        "Class" "mx-auto mb-6 rounded-2xl object-cover"
        "size" "500x500"
      ) }}
    {{ end }}

    <h4 class="mb-3 text-2xl">
      {{ .Title }}
    </h4>

    <p class="line-clamp-2 text-base sm:text-lg">
      {{ .Summary | plainify }}
    </p>
  </a>
</div>
