{{ define "main" }}

<section id="content" style="margin-left: 1rem; margin-right: 1rem;" class="page-content">
  <h2>{{.Title}}</h2>
  <table id="authors-table">
    <tbody>
      {{ $columns := 3 }} <!-- Define how many columns (authors) you want per row -->
      {{ $counter := 0 }} <!-- Counter to track the position -->
      <tr class="post"> <!-- Start the first row -->
      {{ range .Pages }}
        <td>
          <div>

            {{ $image_name := lower .Title}}
            {{ $image_name =  replace $image_name " " "-" }}
            <img 
            alt="Foto de {{.Title}}"
            style="width: 7rem; height: 7rem;"
            src="/images/authors/{{ $image_name }}.jpg"  
            />
            <br/>
            <a href="{{ .Permalink }}" style="margin-bottom: 2rem;">{{ .Title }}</a> 
          </div>
          <div style="margin-bottom: 2rem;"> </div>
          <!-- <i>{{ .Description }}</i>  -->
        </td> <!-- Display author info -->
        {{ $counter = add $counter 1 }} <!-- Increment counter -->
        
        <!-- Close the row after every $columns authors and start a new row -->
        {{ if eq $counter $columns }}
          </tr><tr>
          {{ $counter = 0 }} <!-- Reset counter for the next row -->
        {{ end }}
      {{ end }}
      
      <!-- Close the last row in case it's not filled up completely -->
      {{ if gt $counter 0 }}
        </tr>
      {{ end }}
    </tbody>
  </table>
</section>

{{ end }}