{{ define "main" }}

<section id="post">
    <h1 id="post-title">{{ .Title }}</h1>
    <hr />
    {{ $image_name := lower .Title}}
    {{ $image_name =  replace $image_name " " "-" }}
    <div class="author-grid"> 
        <!-- FIXME: El grid no funciona-->
         <div style="text-align: center; margin-top: 2rem;">
             <img 
                 class="author-column" 
                 alt="Foto de {{ .Title }}"
                 style="width: 15rem;"
                 src="/images/authors/{{ $image_name }}.jpg" 
             >
         </div>
        <div id="post-content" class="author-column">
            {{ .Content }}
        </div>
    </div>
</section>

{{ end }}