{{ define "main" }}

<section id="content" class="page-content">
    <h2>{{.Title}}</h2>
    <div>
        {{ $pages := where .Site.RegularPages.ByPublishDate.Reverse "Section" "!=" "authors"}}
        {{ $pages = where $pages "Title" "!=" "Contacto" }}
        {{ range $pages }}
            <div class="post">
                (<time>{{ .Date.Format (.Site.Params.dateform | default "2006-01-02") }}</time>)
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
            <i class="post-date-time date-time-font">
            </i>
        {{ end }}
    </div>
</section>

{{ end }}