/* Add your own custom styles here */

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contacto-content p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
