<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{.Title}} | {{ .Site.Title }} | {{.Site.Params.subtitle}}</title>
    <meta name="description" content="{{ .Site.Params.description }}" />
    
    <!-- Etiquetas Open Graph -->
    <meta property="og:title" content="{{.Title}} | {{ .Site.Title }} | {{.Site.Params.subtitle}}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:image" content="/images/meta.png">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    
    <link rel="stylesheet" href="{{ relURL `css/style.css` }}">
    <link rel="stylesheet" href="{{ relURL `css/fonts.css` }}">
    <link defer rel="stylesheet" href="{{ relURL `css/syntax.css` }}">
    
</head>
